/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #f8c006;
$color-secondary-dark: #f31818;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #e7e7e7;
$color-grey-light-2: #eee;

$color-my-color1:#86f5ce;
$color-my-color2:#4efd09;
$color-my-color3:#070e4d;
$color-my-color4:#f70707;



$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


//  GRID
$grid-width: 114rem;
$gradient-angle: 8rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-vertical_mini: .7rem;
$gutter-horizontal-mini: .7rem;
