/*  COLORS: */

$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-grey-dark: #777; 

/* BASIC RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* good practice to do*/
}

html {
    font-size: 62.5%; /* 10 / 16 = 0.625 * 100 = 62.5% */
} 

body {
    font-family: "Lato", sans-serif;
    /*  this fonta family will inherit all child element in body */
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #db2525;
    padding: 3rem;

    box-sizing: border-box;  /* good practice to do*/
}
/* linear-gradient(to right,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8), */


.header {
    height: 95vh;
    background-image: linear-gradient(rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8), url("../img/hero.jpg"));
    background-size: cover;
    /* what ever size of viewport image fit in */
    background-position: top;
    position: relative;
    /* THE values of  polygon(x y, x y, x y, x y) */
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    background: #777;
}

.header__logo {
    height: 3.5rem;
}

.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* !!! BECAUSE of declared positions. 
    Without the transform:translate(-50%, -50%) IT WOULD BE SHIFTED HALF 50% down and right. */
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem;
    animation: moveInRight .9s ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInLeft 1.3s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* SUDOCLASS :link state of the button, when the hovered or the button is clicked. 
    :visited state when you visit link it change the color to purple that is the default state of button element.
       Therefore we want the link color same as at the begining */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    /* the transition property must be on initial state what is the .btn:link and .btn:visited or it doesn't work.
      Simply we saying here in parent element the transition can be used on all properties */
    position: relative;
}

/* then on :hover we say how it should look like and on the :active state same */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

/* when we click the button box-shadow property is less see as we click the button in real world thanks the blur value*/
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5rem 1rem rgba(0, 0, 0, .2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}


/* ::after SUDO element we giving to it looks exactly same as the button we have, but is hidden behind the button and when we hover it hides.  */
.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    /* !!!! THE position:absolute needs to have a reference and the reference is the first element with the relative postion that can find. In this case it is the header. But we want it hidden behind the button so we must give position: relative; to btn:link, .btn:visited.  !!!!!!!!!!! */
    top: 0;
    left: 0;
    z-index: -1;
    /* now it is behind the button */
    transition: all .4s;
    /* <---- The transition: all .4s; needs to be in initial state btn element(.btn::after {}), because we have the ::after SUDO element when is hovered transform: scale(1.5) animation. */
}

.btn--white::after {
    background-color: #fff;
}

.btn:hover::after {
    /* we want the ::after sudo element only when is the .btn hovered */
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}