

@use '../abstracts/functions' as *;
@use "../abstracts/variables" as *;

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)), url("../img/hero.jpg");

    background-size: cover;
    /* what ever size of viewport image fit in */
    background-position: top;
    position: relative;
    /* THE values of  polygon(x y, x y, x y, x y) */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
    
    @include respond(tab-port) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* !!! BECAUSE of declared positions. 
        Without the transform:translate(-50%, -50%) IT WOULD BE SHIFTED HALF 50% down and right. */
        text-align: center;
    }
}
