.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    // the object-fit property is same as background-image-size. But it work only with elements to fill them
    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}