.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; //same height as parent
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover; // cover, fill, contain; it is similar to background-image: cover; but it works with web elements

    }
}